@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Send+Flowers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap');
*{
    text-decoration: none;
    transition: 0.9s linear all;
    text-transform: capitalize;
    font-family: 'PT Sans', sans-serif;

    color: white;
}

body::-webkit-scrollbar {
    width: 1em;
  }
   
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }


  .cart::-webkit-scrollbar {
    width: 1em;
    background: #fff;
  }
   
  .cart::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  .cart::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }
html{
    font-size: 62.3%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body{
    margin: 0;
    background: url("../images/bg-for-full-website.png");
    /* background-image: linear-gradient(102deg, #f93d66,#6d47d9); */
    padding: 0;
}
.navbar{
    display: flex;
    align-items: center;
    background: #000;
    position: fixed;
    top: 0px;left: 0px;right: 0px;
    padding: 1.9rem 7.5rem;
    justify-content: center;
    z-index: 90;

}
section{
    padding:0pc 9%;
}
.logo{
    text-align: center;
    margin-right:auto;
}
.tabs{
    margin-right: auto;
}
.tabs .tab{
    padding: 10px;
    font-size: 2.44rem;
    font-family: 'PT Sans', sans-serif;
}

.icons i{
    width: 20px;
    padding: 1rem;
    border: 0.2rem solid rgba(255, 255, 255, 0.27);
    font-size: 2rem;
    flex-wrap: nowrap;
    margin: 0.2rem;
    display: flex;
    justify-content: center;
    cursor: pointer;

}

.icons .fa-bars{
    display: none;
}

.search{
    display: block;
    position: fixed;
    z-index: 5;
    top: 150px;
    padding: 1.5rem 2.2rem;
    border-radius: .2rem;
    border: none;
    outline: none;
    background: #fff;
    color: black;
    width: 25%;
    right: -49940px;
}

.search::placeholder {
    color: black;
}
.activea{
    right: 40px;
}

.home .content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.home{
    padding-top: 13rem;
    text-align: center;
}

.home h2{
    font-size: 3.45rem;
    font-family: 'Send Flowers', cursive;
}

.home h2 span{
    font-size: 3.7rem;
    color: #ccff00;
}
.home p{
    font-size: 2rem;
    padding:1% 10%;
}
.button_slide {
    color: #FFF;
    border: 2px solid #ccff00;
    border-radius: 0px;
    padding: 18px 36px;
    display: inline-block;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #ccff00;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    background:rgba(0, 0, 0, 0.0);
  }
  .slide_right:hover {
    box-shadow: inset 400px 0 0 0 #ccff00;
    color: black;
  }


.menu .box-cont{
    justify-content: center;
    display: flex;
    /* gap: 3rem; */
    text-align: center;
    padding-top: 3rem;
    align-items: center;
    font-size: 1.8rem;
    /* padding: 0pc 9%; */
}

.menu .box-cont i{
    background: #ccff00;padding: 1rem;
    border-radius: 1000px;
    color: black;
}

.menu .box-cont .box:hover{
    /* background: #d98627; */
    color :black;padding: 3rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border:0.2rem solid #ccff00;
    cursor: pointer;
}
.menu .box-cont .box{
    /* background: #d98627; */
    width:25rem;
    color :black;
    padding:3rem;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}

.heading{
    text-align: center;
    font-size: 3rem;
    letter-spacing: 1rem;
    padding-top: 3rem;
}

.ourmenu .slide{
    /* padding: 2rem 0px; */
    text-align: center;
    transition:1s all linear;
}

.ourmenu .slide h2{
    font-size: 3rem;
}

.ourmenu .slide i{
    font-size: 1.6rem;
    /* padding: 1rem 0px; */
    color:#ccff00;
    padding: 0px 5px;
    padding-bottom: 5px;

}
.ourmenu .slide i:hover{
    border: .5rem solid rgba(0, 0, 0, 0);
}

.ourmenu .slide button{
    width: 17rem;
}

.ourmenu .slide p{
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
}

.about .contend{
    display: grid;
    grid-template-columns: auto auto;
}

.about .contend .right{
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    /* justify-content: center; */
}

.about .contend .right i{
    font-size: 42px;
    background: -webkit-linear-gradient(110deg,#f93d66,#6d47d9);
    /* background-image: linear-gradient(102deg, #f93d66,#6d47d9); */

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.review{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.review .boxes{
    display: grid;
    grid-template-columns: auto auto auto;
}

.review .boxes .box {
    text-align: center;
    padding: 2rem;
    /* width: 30rem; */
    /* display: inline-block; */
}
.review .boxes .box p{
    padding:0px 5rem;
    font-size: 1.2rem;
}
.review .boxes .box h2{
    font-size: 2.5rem;
}
.review .boxes .box i{
    font-size: 1.5rem;
    padding: 0.5rem;
    color: #ccff00;
}
.review .boxes .box img{
    border-radius: 2000px;
}
.aqa{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
}
.offer .main{
    background-image: linear-gradient(35deg , rgb(233, 206, 143), rgb(141, 228, 195));
    padding: 5rem 90px;
    min-width: 300px;
    border-radius: 4px;
    color: black;
    width: 500px;
    box-shadow: 13px 10px 2px 3px rgba(255, 255, 255, 0.036);
}

.offer .main h2{
    font-size: 23px;
    color:black;
}
.offer .main p{
    font-size: 18px;
    color:black;
}

.button_slide1 {
    color: #FFF;
    border: 2px solid #ccff00;
    border-radius: 0px;
    padding: 18px 36px;
    display: inline-block;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0px 0 0 0 #ccff00;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 1s;
    color:black;
    background:rgba(0, 0, 0, 0.0);
  }
  .slide_right2:hover {
    box-shadow: inset 240px 0px 0px 0px #ccff00;
    color: black;
  }

 

.btunn {
    display: block;
    position: fixed;
    bottom: 3000px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
.box-contt{
    display: grid;
    grid-template-columns: auto auto auto;
}
.boox{
    height: 25rem;
    display: flex;
    /* flex: 1 1 30rem; */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: .3rem solid #fff;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 10%);
    border-radius: 0.5rem;
    position: relative;
    overflow: hidden;
    margin: 0px 10px;
}

.boox img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.boox .first{
    position: absolute;
    top: -250px;
    /* left: 0px; */
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
    padding: 0rem;
    padding-top: 1rem;
    text-align: center;
}
.boox:hover .first{
    position: absolute;
    top: 0%;
    /* left: 0; */
    color: black;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
    padding: 2rem;
    padding-top: 5rem;
    text-align: center;
}

.form{
    width: 90%;
    /* height: 50rem; */
    padding:5% 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 2% 0px;
    /* background-image:linear-gradient(25deg, rgb(255, 56, 182),rgb(203, 33, 33); */
    background-image: linear-gradient(45deg, #ea4767, rgb(50, 243, 201));
}

.waviy {
    position: relative;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
    font-size: 60px;
    padding:0px 100px;
  }
  .waviy span {
    font-family: 'Alfa Slab One', cursive;
    position: relative;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    animation: waviy 1s 2;
    animation-delay: calc(.1s * var(--i));
    
  }
  .waviy:hover span {
    font-family: 'Alfa Slab One', cursive;
    position: relative;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    animation: waviy 1s infinite;
    animation-delay: calc(.1s * var(--i));
    
  }
  @keyframes waviy {
    0%,40%,100% {
      transform: translateY(0)
    }
    20% {
      transform: translateY(-20px)
    }
  }
  

.inp{
    width:30rem;
    border:none;
    padding: 2% 5%;
    color:black;
    font-size:2rem;
    outline:none;
    /* border: 0.2rem solid rgba(0, 0, 0, 0.392); */
    background: rgba(255, 255, 255, 0.261);
}
.boox .first i{
    font-size: 2.4rem;
}

.boox .first h2{
    font-size: 2rem;
}

.boox .first p{
    font-size: 1.4rem;
    /* padding: 1rem; */
}

.cart{
    position: absolute;
    top: 150px;
    width: 45%;
    background: linear-gradient(50.2deg,#DBFFD6,#ACE7FF);
    height: 350px;
    left: 9000pc;
    overflow-y: scroll;
}
.ook{
    left: 25%;
}
.pricee{
    width: fit-content;
    color: #000;
    background: rgba(0, 0, 0, 0);
}
.cart img{
    width: 200px;
}

.items .item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.btun{border: 0px; background: url('../images/home-burger-3.png');}
.bn47 {
    position: relative;
    padding: 1rem 2rem 0.5rem 2.5rem;
    color: #000000;
    border: 3px solid #776e62;
    -webkit-transition: padding 0.3s ease-in-out;
    transition: padding 0.3s ease-in-out;
  }
  
  .bn47:before {
    content: "";
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-color: #dfdfdf;
    border-right: 3px solid #efefef;
    border-bottom: 3px solid #ffffff;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .bn47:hover {
    padding: 0.75rem 2.25rem;
  }
  
  .bn47:hover:before {
    top: 0;
    left: 0;
  }
.leap-frog {
  --uib-size: 160px;
  --uib-speed: 2.5s;
  --uib-color: black;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: var(--uib-size);
  height: var(--uib-size);
}

.leap-frog__dot {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  margin: auto;
}

.leap-frog__dot::before {
  content: '';
  display: block;
  height: calc(var(--uib-size) * 0.20);
  width: calc(var(--uib-size) * 0.20);
  border-radius: 50%;
  background-color: var(--uib-color);
  will-change: transform;
  
}

.leap-frog__dot:nth-child(1) {
  animation: leapFrog var(--uib-speed) ease infinite;
}

.leap-frog__dot:nth-child(2) {
  transform: translateX(calc(var(--uib-size) * 0.4));
  animation: leapFrog var(--uib-speed) ease calc(var(--uib-speed) / -1.5)
    infinite;
}

.leap-frog__dot:nth-child(3) {
  transform: translateX(calc(var(--uib-size) * 0.8)) rotate(0deg);
  animation: leapFrog var(--uib-speed) ease calc(var(--uib-speed) / -3)
    infinite;
}

@keyframes leapFrog {
  0% {
    transform: translateX(0) rotate(0deg);
  }

  33.333% {
    transform: translateX(0) rotate(180deg);
  }

  66.666% {
    transform: translateX(calc(var(--uib-size) * -0.4)) rotate(180deg);
  }

  99.999% {
    transform: translateX(calc(var(--uib-size) * -0.8)) rotate(180deg);
  }

  100% {
    transform: translateX(0) rotate(0deg);
  }
}

.loader {
    height: 100%;
    width: 100%;
    background: #f5f5f5;
    position: absolute;
    z-index: 290;
    display: flex;
    /* justify-content: center; */
    padding:0px 40%;
    align-items: center;
    top: 0px;
}

@keyframes loader {
  0%{
    transform: scale(1);
  }
  25%{
    transform: scale(0.8);
  }
  50%{
    transform: scale(1);
  }
  75%{
    transform: scale(0.7);
  }
  100%{
    transform: scale(1);
  }
}

.loader .looder{
  width: 20%;
  animation: loader 2s infinite linear;
}